.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register h1 {
  margin-top: 2rem;
  color: var(--secondary-theme);
  margin-bottom: 1rem;
}

.reg-form {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -2px 2px 2px var(--primary-theme);
  border: 1px solid var(--primary-theme);
  border-radius: 10px;
  background-color: var(--fourth-theme);
  padding: 0.75rem;
}

.reg-form h1 {
  color: var(--secondary-theme);
  margin-bottom: 1rem;
}

.reg-form > input {
  margin: 0.5rem;
  border-radius: 20px;
  border: none;
  box-shadow: -1px 2px 2px black;
  padding: 0.5rem 0.75rem;
}

.reg-form > button {
  margin: 1rem auto;
  border-radius: 20px;
  border: none;
  box-shadow: -1px 2px 2px black;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--secondary-theme);
}

.member {
  text-align: center;
  margin-top: 1rem;
}

.member > * {
  margin: 0.5rem;
}
