.reg-form {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.reg-form h1 {
  color: var(--secondary-theme);
  text-decoration: underline;
}

.reg-form > input {
  margin: 0.5rem;
  border-radius: 20px;
  border: none;
  box-shadow: -1px 2px 2px black;
  padding: 0.5rem 0.75rem;
}

.reg-form > button {
  margin: 1rem auto;
  border-radius: 20px;
  border: none;
  box-shadow: -1px 2px 2px black;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--secondary-theme)
}

.member {
  text-align: center;
  margin-top: 1rem;
}

.member > * {
  margin: 0.5rem;
}
