.post-container {
  min-height: 30vh;
  border: 3px solid white;
  box-shadow: -1px 1px 0px 2px black;
  margin: 2rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--fourth-theme);
}
