.post {
  box-shadow: 0 0 8px black;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.content {
  background: lightgrey;
  padding: 1rem;
}

.responders {
  display: flex;
  justify-content: flex-end;
}

.responders button {
  border-radius: 25px;
  color: var(--secondary-theme);
  border: 1px solid var(--primary-theme);
  margin: 0.5rem;
}

.comment-form > textarea {
  display: block;
}

.post-time {
  text-align: right;
}
