.about-title {
  margin-left: 2rem;
  color: var(--primary-theme);
  text-shadow: 1px 1px 1px var(--secondary-theme);
}

.about-me {
  box-shadow: -1px 1px 0px 2px black;
  margin: 2rem;
  padding: .5rem 2rem;
  border-radius: 5px;
  background-color: var(--fourth-theme);
}
